# バージョン管理
.git
.gitignore

# 開発環境設定
*.env
*.env.*

# IDE やエディタ
.idea/
.vscode/

# OS/FSごみ
.DS_Store
Thumbs.db

# キャッシュやビルド生成物
node_modules/
vendor/
var/
html/vendor/
html/var/
html/node_modules/
html/.env
